<!DOCTYPE html>
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title  Clover
        link(rel="stylesheet", href="../static/css/style.css")
        
    body
        #container
            include ../partials/header
            block content
            include ../partials/footer
        script(src="../static/js/index.js")