<!DOCTYPE html>
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title  Clover
        link(rel="stylesheet", href="../../static/css/style.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css")
               
    body
        #loader
        #container
            include ../partials/header
            block content
            include ../partials/footer
        script(src="../../static/js/index.js")
        script(type='module', src='../../static/js/typingLetters.js')
        script(type='module', src='../../static/js/scrollHeader.js')
        script(type='module', src='../../static/js/searchAjax.js')
        script(type='module', src='../../static/js/mypageProfile.js')
        script(type='module', src='../../static/js/mypageScrap.js')
        script(type='module', src='../../static/js/analysisSelect.js')
        script(type='module', src='../../static/js/saveMyDocument.js')
        script(type='module', src='../../static/js/searchSimillarDocument.js')
        script(type='module', src='../../static/js/analysisMyDocument.js')
        