extends layout/layout.pug

block content
    section
        .inner
          .analysis-container
            
              .analysis-input
                h3 제목
                textarea#anal-input-title(cols="100", rows="2")
                h3 문항
                textarea#anal-req(cols="100", rows="10")
                h3 답변
                textarea#anal-res(cols="100", rows="20")
              .analBtn-container
                button#anal-search 유사 자소서 조회
                button#anal-myDoc 내 자소서 분석
              .analSaveBtn-container
                button#anal-saveBtn 저장