extends layout/layout.pug

block content
    section
        .inner
          .analysis-container
            .anal-top
              .analysis-input
                .analysis-input-title 나만의 자소서를 작성해보세요.
                h3 제목
                textarea#anal-input-title(cols="100", rows="2")
                h3 문항
                textarea#anal-req(cols="100", rows="4")
                h3 답변
                textarea#anal-res(cols="100", rows="12")
            .anal-bottom
              .analBtn-container
                button#anal-search 유사 자소서 조회
                button#anal-myDoc 내 자소서 분석
              .analSaveBtn-container
                button#anal-saveBtn 저장