extends layout/layout.pug

block content
    section
        .inner
          .edit-container
            h2 자소서 수정하기
            form#edit-form(action='', method='post')
              .edit-input
                h3 제목
                p#input-title 가져온 제목
                h3 문항
                textarea#edit-req(name="", cols="100", rows="10", form="edit-form")
                h3 답변
                textarea#edit-res(name="", cols="100", rows="20", form="edit-form")
              .edit-add
                button#edit-add ✚
              .editBtn-container
                input(type='submit', value='등록')
                button#edit-cancel 취소