extends layout/layout.pug

block content
    .inner
        .join-container
            .local-join
                form(action='/join', method='POST')
                    .join-field
                        label(for="") Email
                        input(type='email',class="insert",name="email" ,placeholder='email', required='')
                    .join-field
                        label(for="") Nickname
                        input(type='text',class="insert",name='nickName' ,placeholder='nickname', required='')
                    .join-field
                        label(for="") Password
                        input(type='password',class="insert",name='password' ,placeholder='password', required='')
                    .join-field
                        label(for="") Verify Password
                        input(type='password',class="insert",name='password2' ,placeholder='verify password', required='')
                    .join-field-btn
                        input(type='submit', value='Sign Up')
            .social-join
                a(href='auth/google',id="google-join") 
                    .join-field-social
                        i.fab.fa-google
                        |     Join with google
                a(href='/auth/kakao',id="kakao-join") 
                    .join-field-social
                        i.fas.fa-comment
                        |     Join with kakao
