extends layout/layout.pug

block content
    .inner
        .login-container
            .local-login
                form(action='/login', method='POST')
                    .field
                        label(for="") Email
                        input(type='email', class="insert",name="email", placeholder='email', required='')
                    .field
                        label(for="") Password
                        input(type='password', class="insert",name='password', placeholder='password', required='')
                    .field-btn
                        input(type='submit', value='Login')
            .social-login
                a(href='#', id="google") 
                    .field-social
                        i.fab.fa-google
                        |     login with google
                a(href='#', id="kakao") 
                    .field-social
                        i.fas.fa-comment
                        |     login with kakao