extends layout/layout.pug

block content
    section
        .inner
            .section-container
                .heading
                    a(href='')
                        h1 Clover
                    h3 성공적인 자소서 작성을 위한 당신의 Partner
                .main-desc
                    p "Clover"는 합격 자소서 데이터를 기반으로 한 자소서 작성 가이드 플랫폼입니다.
                .join
                    .to-signup
                        a#to-signup(href='#') 함께하기
                    .to-login
                        a#to-login(href='#') 이미 회원이신가요?