extends layout/layout.pug

block content
    section
        .inner
          .mypage-container
            .mypage-list
              ul
                li                 
                    div#profile-edit  프로필 수정
                li               
                    div#resume-scrap  합격 자소서 스크랩
                li             
                    div#my-resume  나의 이력서
                li
                  .blank
                li
                  .blank
                li
                  .blank
                li
                  .blank
                li
                  .blank
                li
                  .blank
                li
                  .blank
                li
                  .blank
                li
                  .blank
                li
                  .blank
                li
                  .blank
                li
                  .blank
                li
                  .blank
                li
                  .blank
                li
                  .blank
            .mypage-articles
