extends layout/layout.pug

block content
    section
        .inner
          .mypage-container
            .mypage-list
              ul
                li
                  a(href='#') 
                    div - 프로필 수정
                li
                  a(href='#')
                    div - 합격 자소서 스크랩
                li
                  a(href='#')
                    div - 나의 이력서
            .mypage-articles
