extends layout/layout.pug

block content
    section
        .inner
          .docSelect-container
            a(href='#') 
                .new-doc 새로 작성하기
            a(href='#') 
                .exist-doc 내 자소서 불러오기
