@import "./reset.css";
@import "./responsive.css";

/* common css */
.inner {
    width: 1300px;
    margin: auto;
    border: 1px solid red;
}

.container {
}

/* header.pug */

header {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.425);
    width: 100%;
}
header #logo-container {
    /* padding: 10px 0; */
    height: 10vh;
    display: flex;
    align-items: center;
}
header #logo-container a {
    color: white;
    font-size: 36px;
    margin-left: 10px;
}

/* --header.pug */
/* main.pug */

#main-section {
    background: url("../images/main4.jpg") no-repeat center center;
    background-size: cover;
    color: white;
}

section .section-container {
    /* padding-top: 10vh; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
section .section-container .heading {
    padding-right: 20px;
    text-align: center;

    width: 430px;
    height: 160px;
}
section .section-container .heading h1 {
    padding-top: 50px;
    line-height: 1.2em;
    font-size: 50px;
    color: white;
    font-weight: 600;
}

section .section-container .heading h1 span {
    color: #ffee55;
    font-weight: 600;
}
section .section-container .heading h3 {
}

section .section-container .main-desc {
    box-sizing: border-box;

    text-align: center;
    width: 500px;
    padding-right: 120px;
}
section .section-container .main-desc p {
}

section .section-container .join {
    /* border: 1px solid blue; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 120px;
    width: 500px;
}

section .section-container .join .to-signup {
    background-color: #ffee55;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #444;
    box-shadow: white 0 0 5px;
    transition: 0.4s;
}
section .section-container .join .to-signup:hover {
    color: #ffee55;
    background-color: #ffee5518;
    transition: 0.4s;
}
section .section-container .join .to-signup a {
}
section .section-container .join .to-login {
    margin-top: 10px;
    font-size: 13px;
    border-bottom: 1px solid white;
    color: white;
}
section .section-container .join .to-login a {
}

/* --main.pug */
/* footer.pug */

footer {
}
footer .footer-content {
    line-height: 10vh;
    text-align: center;
    height: 10vh;
    box-sizing: border-box;
    background-color: #222;
}
footer .footer-content a {
    color: #ddd;
    padding: 0 20px;
}

/* --footer.pug */
/* login.pug */

.login-container {
    border: 1px solid blueviolet;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-container .local-login {
}

.login-container .local-login form {
}

.login-container .social-login {
}
.login-container .social-login a {
}

.field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    width: 350px;
    margin: 10px;
    padding: 10px;
}
.field-btn {
    text-align: center;
    border: 1px solid black;
    width: 350px;
    margin: 10px;
    margin-bottom: 0;
    padding: 10px;
}
.field label {
    flex: 1;
}
.field input {
    margin-left: 10px;
    height: 30px;
}
.field .insert {
    flex: 3;
}

.field-social {
    margin: 10px;
    text-align: center;
    border: 1px solid black;
    width: 350px;
    padding: 10px;
}

#google {
    color: white;
}
#google .field-social {
    background-color: #dd4b39;
}

#kakao {
    color: black;
}
#kakao .field-social {
    background-color: #fae206;
}

/* --login.pug */
/* join.pug */

.join-container {
    border: 1px solid blueviolet;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.join-container .local-join {
}
.join-container .local-join .join-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    width: 400px;
    margin: 10px;
    padding: 10px;
}

.join-container .local-join .join-field label {
    flex: 1.5;
}
.join-container .local-join .join-field input {
    margin-left: 10px;
    height: 30px;
}
.join-container .local-join .join-field .insert {
    flex: 3;
}

.join-container .local-join .join-field-btn {
    text-align: center;
    border: 1px solid black;
    width: 400px;
    margin: 10px;
    margin-bottom: 0;
    padding: 10px;
}

.join-container .social-join {
}
.join-container .social-join a {
}
.join-container .social-join a .join-field-social {
    margin: 10px;
    text-align: center;
    border: 1px solid black;
    width: 400px;
    padding: 10px;
}

#google-join {
    color: white;
}
#google-join .join-field-social {
    background-color: #dd4b39;
}
#kakao-join {
    color: black;
}
#kakao-join .join-field-social {
    background-color: #fae206;
}

/* --join.pug */
/* home.pug */

.search-article {
}
.search-article .search-container,
.analysis-article .analysis-container {
    border: 1px solid black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.search-article .search-container {
    align-items: flex-start;
}
.search-article .search-container h2,
.search-article .search-container p,
.search-article .search-container a {
    margin: 20px;
    width: 400px;
    text-align: center;
}
.search-article .search-container h2 {
    border: 1px solid black;
    font-size: 35px;
}
.search-article .search-container p {
    border: 1px solid black;
    font-size: 20px;
}
.search-article .search-container a {
    border: 1px solid black;
}
.search-article .search-container a .search-btn {
}

.analysis-article {
}
.analysis-article .analysis-container {
    align-items: flex-end;
}
.analysis-article .analysis-container h2,
.analysis-article .analysis-container p,
.analysis-article .analysis-container a {
    margin: 20px;
    width: 400px;
    text-align: center;
}
.analysis-article .analysis-container h2 {
    border: 1px solid black;
    font-size: 35px;
}
.analysis-article .analysis-container p {
    border: 1px solid black;
    font-size: 20px;
}
.analysis-article .analysis-container a {
    border: 1px solid black;
}
.analysis-article .analysis-container a .analysis-btn {
}

/* --home.pug */
/* cusror animation */

@keyframes cursor {
    0% {
        border-right: 3px solid #fff;
    }
    50% {
        border-right: 3px solid transparent;
    }
    100% {
        border-right: 3px solid #fff;
    }
}

#js-cursor {
    padding-right: 5px;
    color: #fff;

    animation: cursor 1s infinite;
}

/* --cusror animation */
/* mypage */

.mypage-container {
    border: 1px solid black;
    padding-top: 10vh;
    height: 100vh;
    display: flex;
}
.mypage-container .mypage-list {
    box-sizing: border-box;
    padding: 25px;
    flex: 1;
    border: solid 1px #333;
    /* background-color: #242a2f; */
}
.mypage-container .mypage-list ul {
}
.mypage-container .mypage-list ul li {
}
.mypage-container .mypage-list ul li a {
    /* color: #fff; */
}
.mypage-container .mypage-list ul li a div {
    margin: 25px 0;

    /* box-shadow: 0 7px 15px rgba(0, 0, 0, 0.562);
    border-radius: 0 10px; */
    padding: 5px;
}
.mypage-container .mypage-list ul li a div:hover {
    color: #3681d6;
}

.mypage-container .mypage-articles {
    box-sizing: border-box;
    flex: 5;
    border: solid 1px #333;
}

/* --mypage */
/* edit */

.edit-container {
    border: 1px solid blueviolet;
    height: 130vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.edit-container form {
}
.edit-container .edit-input {
    border: 1px solid blueviolet;
}
.edit-container .edit-input h3 {
}
.edit-container .edit-input #input-title {
}
.edit-container .edit-input #edit-req {
}
.edit-container .edit-input #edit-res {
}

.edit-container .edit-add {
    border: 1px solid blueviolet;
    text-align: center;
}
.edit-container .edit-add #edit-add {
}

.edit-container .editBtn-container {
    border: 1px solid blueviolet;
    text-align: center;
}
.edit-container .editBtn-container input {
}
.edit-container .editBtn-container #edit-cancel {
}

.edit-input,
.edit-add,
.editBtn-container {
    padding: 40px;
    box-sizing: border-box;
}
/* --edit */
