@import "./reset.css";
@import "./responsive.css";

/* common css */
html,
body {
    /* height: 100%; */
}
.inner {
    width: 1300px;
    margin: auto;
    /* border: 1px solid red; */
}
.container {
    /* min-height: 100%;
    position: relative;

    box-sizing: border-box; */
}
/* --common css */

/* animation, js css */
/* Main cusror animation */

@keyframes cursor {
    0% {
        border-right: 3px solid #fff;
    }
    50% {
        border-right: 3px solid transparent;
    }
    100% {
        border-right: 3px solid #fff;
    }
}

#js-cursor {
    padding-right: 5px;
    color: #fff;

    animation: cursor 1s infinite;
}

/* --Main cusror animation */

/* --animation, js css */

/* 404.pug */

.msg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}
.msg-container #error-msg {
    font-size: 30px;
}

/* --404.pug */
/* header.pug */

header {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.425);
    width: 100%;
}
header #logo-container {
    /* padding: 10px 0; */
    height: 10vh;
    display: flex;
    align-items: center;
}
header #logo-container #logo {
    color: white;
    font-size: 36px;
    margin-left: 10px;
    flex: 8;
}

header #logo-container #mypage {
    flex: 1;
    color: #fff;
    font-weight: 600;
}
header #logo-container #logout {
    flex: 1;
    color: #fff;
    font-weight: 600;
}

/* --header.pug */
/* main.pug */

#main-section {
    background: url("../images/main4.jpg") no-repeat center center;
    background-size: cover;
    color: white;
}

section .section-container {
    /* padding-top: 10vh; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
section .section-container .heading {
    padding-right: 20px;
    text-align: center;

    width: 440px;
    height: 160px;
}
section .section-container .heading h1 {
    padding-top: 50px;
    line-height: 1.2em;
    font-size: 50px;
    color: white;
    font-weight: 600;
}

section .section-container .heading h1 span {
    color: #ffee55;
    font-weight: 600;
}
section .section-container .heading h3 {
}

section .section-container .main-desc {
    box-sizing: border-box;

    text-align: center;
    width: 500px;
    padding-right: 120px;
}
section .section-container .main-desc p {
}

section .section-container .join {
    /* border: 1px solid blue; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 120px;
    width: 500px;
}

section .section-container .join .to-signup {
    background-color: #ffee55;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #444;
    box-shadow: white 0 0 5px;
    transition: 0.4s;
}
section .section-container .join .to-signup:hover {
    color: #ffee55;
    background-color: #ffee5518;
    transition: 0.4s;
}
section .section-container .join .to-signup a {
}
section .section-container .join .to-login {
    margin-top: 10px;
    font-size: 13px;
    border-bottom: 1px solid white;
    color: white;
}
section .section-container .join .to-login a {
}

/* --main.pug */
/* footer.pug */
footer {
    /* position: absolute;
    bottom: 0;
    width: 100%; */
}

.footer-content {
    font-size: 14px;
    height: 15vh;
    background-color: #222;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.footer-content .author-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-content .author-container .social-logo {
}
.footer-content .author-container a {
    color: #ddd;
    margin: 0 10px;
}
.footer-content .author-container a i {
    color: #ccc;
    font-size: 30px;
}
.footer-content .author-container h3 {
    margin-top: 20px;
    color: #aaa;
    font-size: 13px;
}

/* --footer.pug */
/* login.pug */

.login-container {
    border: 1px solid blueviolet;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-container .local-login {
}

.login-container .local-login form {
}

.login-container .social-login {
}
.login-container .social-login a {
}

.field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    width: 350px;
    margin: 10px;
    padding: 10px;
}
.field-btn {
    text-align: center;
    border: 1px solid black;
    width: 350px;
    margin: 10px;
    margin-bottom: 0;
    padding: 10px;
}
.field label {
    flex: 1;
}
.field input {
    margin-left: 10px;
    height: 30px;
}
.field .insert {
    flex: 3;
}

.field-social {
    margin: 10px;
    text-align: center;
    border: 1px solid black;
    width: 350px;
    padding: 10px;
}

#google {
    color: white;
}
#google .field-social {
    background-color: #dd4b39;
}

#kakao {
    color: black;
}
#kakao .field-social {
    background-color: #fae206;
}

/* --login.pug */
/* join.pug */

.join-container {
    border: 1px solid blueviolet;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.join-container .local-join {
}
.join-container .local-join .join-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    width: 400px;
    margin: 10px;
    padding: 10px;
}

.join-container .local-join .join-field label {
    flex: 1.5;
}
.join-container .local-join .join-field input {
    margin-left: 10px;
    height: 30px;
}
.join-container .local-join .join-field .insert {
    flex: 3;
}

.join-container .local-join .join-field-btn {
    text-align: center;
    border: 1px solid black;
    width: 400px;
    margin: 10px;
    margin-bottom: 0;
    padding: 10px;
}

.join-container .social-join {
}
.join-container .social-join a {
}
.join-container .social-join a .join-field-social {
    margin: 10px;
    text-align: center;
    border: 1px solid black;
    width: 400px;
    padding: 10px;
}

#google-join {
    color: white;
}
#google-join .join-field-social {
    background-color: #dd4b39;
}
#kakao-join {
    color: black;
}
#kakao-join .join-field-social {
    background-color: #fae206;
}

/* --join.pug */
/* home.pug */

.search-article {
}
.search-article .search-container,
.analysis-article .analysis-container {
    border: 1px solid black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.search-article .search-container {
    align-items: flex-start;
}
.search-article .search-container h2,
.search-article .search-container p,
.search-article .search-container a {
    margin: 20px;
    width: 400px;
    text-align: center;
}
.search-article .search-container h2 {
    border: 1px solid black;
    font-size: 35px;
}
.search-article .search-container p {
    border: 1px solid black;
    font-size: 20px;
}
.search-article .search-container a {
    border: 1px solid black;
}
.search-article .search-container a .search-btn {
}

.analysis-article {
}
.analysis-article .analysis-container {
    align-items: flex-end;
}
.analysis-article .analysis-container h2,
.analysis-article .analysis-container p,
.analysis-article .analysis-container a {
    margin: 20px;
    width: 400px;
    text-align: center;
}
.analysis-article .analysis-container h2 {
    border: 1px solid black;
    font-size: 35px;
}
.analysis-article .analysis-container p {
    border: 1px solid black;
    font-size: 20px;
}
.analysis-article .analysis-container a {
    border: 1px solid black;
}
.analysis-article .analysis-container a .analysis-btn {
}

/* --home.pug */
/* mypage.pug */

.mypage-container {
    border: 1px solid black;
    padding-top: 10vh;
    height: 100vh;
    display: flex;
}
.mypage-container .mypage-list {
    box-sizing: border-box;
    padding: 25px;
    flex: 1;
    border: solid 1px #333;
    /* background-color: #242a2f; */
}
.mypage-container .mypage-list ul {
}
.mypage-container .mypage-list ul li {
}
.mypage-container .mypage-list ul li a {
    /* color: #fff; */
}
.mypage-container .mypage-list ul li a div {
    margin: 25px 0;

    /* box-shadow: 0 7px 15px rgba(0, 0, 0, 0.562);
    border-radius: 0 10px; */
    padding: 5px;
}
.mypage-container .mypage-list ul li a div:hover {
    color: #3681d6;
}

.mypage-container .mypage-articles {
    box-sizing: border-box;
    flex: 5;
    border: solid 1px #333;
}

/* --mypage.pug */
/* edit.pug */

.edit-container {
    border: 1px solid blueviolet;
    height: 140vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.edit-container form {
}
.edit-container .edit-input {
    border: 1px solid blueviolet;
}
.edit-container .edit-input h3 {
}
.edit-container .edit-input #input-title {
}
.edit-container .edit-input #edit-req {
}
.edit-container .edit-input #edit-res {
}

.edit-container .edit-add {
    border: 1px solid blueviolet;
    text-align: center;
}
.edit-container .edit-add #edit-add {
}

.edit-container .editBtn-container {
    border: 1px solid blueviolet;
    text-align: center;
}
.edit-container .editBtn-container input {
}
.edit-container .editBtn-container #edit-cancel {
}

.edit-input,
.edit-add,
.editBtn-container {
    padding: 40px;
    box-sizing: border-box;
}

/* --edit.pug */
/* search.pug */

.searchDoc-container {
    padding-top: 12vh;
    display: flex;
    flex-direction: column;
    justify-items: center;
    /* height: 75vh; */
}
.searchDoc-container .select-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 20px;
}
.searchDoc-container .select-container h3 {
    border-bottom: 1px solid #ddd;
    margin: 20px;
}
.searchDoc-container .select-container form {
}
.searchDoc-container .select-container form select {
    margin: 0 10px;
    width: 200px;
    height: 30px;
    margin: 3px;
    border: 1px solid #ccc;
    outline: 0;
    background-color: transparent;
}
.searchDoc-container .select-container #taskSearch-btn,
.searchDoc-container .select-container #questionSearch-btn {
    width: 150px;
    height: 30px;
    margin: 3px;
    background-color: transparent;
    border: 1px solid #ccc;
    transition: 0.2s;
    cursor: pointer;
}
.searchDoc-container .select-container #taskSearch-btn:hover,
.searchDoc-container .select-container #questionSearch-btn:hover {
    background-color: #ffee55;
    transition: 0.2s;
}

.searchDoc-container .search-result-container {
    flex: 5;
    display: flex;
    justify-content: center;
}
.searchDoc-container .search-result-container .search-result {
    width: 900px;

    text-align: center;
}

.searchDoc-container .paging-container {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
.searchDoc-container .paging-container .pages {
    display: flex;
}
.searchDoc-container .paging-container .page {
    margin: 10px;
    padding: 5px;
    border: 1px solid red;
}
.new-document {
    padding: 10px;
    border-bottom: 1px solid #898989;
    transition: 0.2s;
}
.new-document:hover {
    background-color: #f9f9f9;
    transition: 0.2s;
}
.new-document:hover #company-num {
    background-color: #ffee55;
    transition: 0.4s;
}
.new-document .document-desc {
}
.new-document .document-desc span {
}
.new-document .document-desc p {
}
.new-document #new-col {
    cursor: pointer;
}

#newDoc-question,
#newDoc-answer {
    text-align: left;
    border: 1px solid #898989;
    margin-top: -1px;
    padding: 20px;
    background-color: #f6f7fa;
}
#newDoc-question {
}
#newDoc-answer {
}
#newDoc-question #newDoc-question-string,
#newDoc-answer #newDoc-task-string {
    display: block;
    font-size: 24px;
    border: 1px solid #898989;
    border-radius: 2px;
    margin-bottom: 15px;
    width: 60px;
    height: 35px;
    text-align: center;
    line-height: 35px;
}
#newDoc-question #newDoc-question-desc,
#newDoc-answer #newDoc-answer-desc {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: #898989 1px 1px 1px;
}

.paging-container {
    padding: 10px;
}
.paging-container a {
    display: inline-block;
    border: 1px solid #898989;
    text-align: center;
    /* margin-left: 10px;
    padding: 5px 10px; */
    width: 25px;
    height: 25px;
    margin-left: 10px;
    cursor: pointer;
}
#search-section {
}
.blank-container {
}
.blank-container .blank {
    color: transparent;
}
.partial-container {
    margin: auto;
}
.partial {
    width: 900px;

    font-size: 12px;
    display: flex;
    border-top: 1px solid #bdb5b5;
    padding: 7px 0;
    background-color: #f7f7f7;
    color: #898989;
    font-weight: 600;
}
.partial #company-name,
.partial #task-name {
    box-sizing: border-box;
}
.partial #company-name {
    flex: 3;
    padding-left: 100px;
}
.partial #task-name {
    padding-left: 150px;
    flex: 1;
}

#new-col {
    text-align: left;
    display: flex;
    justify-content: space-between;
}
#new-col span:nth-last-child(1) {
}
#company-col {
    flex: 3;

    text-align: left;
}
#task-col {
    flex: 1;

    text-align: left;
}
#company-num {
    margin: 0;
    text-align: center;
    display: inline-block;
    border: 1px solid #898989;
    width: 25px;
    height: 25px;
    padding: 1px;
}
#company-string {
    padding-left: 20px;
}
#task-string {
}

/* --search.pug */
/* select.pug */

.docSelect-container {
    height: 100vh;
    border: 1px solid blue;
    padding-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.docSelect-container .new-doc {
    text-align: center;
    line-height: 80px;
    width: 350px;
    height: 80px;
    border: 1px solid blueviolet;
}
.docSelect-container .new-doc a {
}

.docSelect-container .exist-doc {
    line-height: 80px;
    text-align: center;
    margin-top: 350px;
    height: 80px;
    width: 350px;
    border: 1px solid blueviolet;
}
.docSelect-container .exist-doc a {
}

/* --select.pug */
/* analysis.pug */

.analysis-container {
    height: 140vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.analysis-container .analysis-input {
    border: 1px solid blueviolet;
}
.analysis-container .analysis-input h3 {
}
.analysis-container .analysis-input #anal-input-title {
}
.analysis-container .analysis-input #anal-req {
}
.analysis-container .analysis-input #anal-res {
}

.analysis-container .analBtn-container {
    text-align: center;
    border: 1px solid blueviolet;
}
.analysis-container .analBtn-container #anal-search {
}
.analysis-container .analBtn-container #anal-my {
    margin-left: 20px;
}

.analysis-container .analSaveBtn-container {
    text-align: center;
    border: 1px solid blueviolet;
}
.analysis-container .analSaveBtn-container #anal-saveBtn {
}
.analysis-container .analysis-input,
.analysis-container .analBtn-container,
.analysis-container .analSaveBtn-container {
    padding: 40px;
    box-sizing: border-box;
}

/* --analysis.pug */
