footer
    .footer-content
        .author-container
            .social-logo
                a(href="https://mportal.ajou.ac.kr/main.do") 
                    i.fab.fa-google
                a(href="https://github.com/zinozino1")
                    i.fab.fa-github
                a(href="https://mail.google.com/mail/u/0/#inbox")
                    i.far.fa-envelope
            h3 &copy 2020 JinHo Park. All rights reserved
            h2 Clover
            
                